@import url('https://fonts.googleapis.com/css2?family=Allura&family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pixelify+Sans:wght@400..700&family=Silkscreen:wght@400;700&display=swap');

body {
    display: flex;
    justify-content: center;
    font-family: "Arsenal SC", sans-serif;
    font-weight: bold;
    background-image: url(https://images.unsplash.com/photo-1647810941958-f3a35a8608b0?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

h1 {
    letter-spacing: 5px;
    font-size: 40px;
}

.main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

#round-number {
    display: flex;
    justify-content: center;
}

.user-options {
    display: flex;
    justify-content: space-evenly;
    width: 400px;
    margin: 40px;
}

.choice{
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    background-color: aquamarine;
    box-shadow: 2.5px 2.5px 2.5px;

}
.choice:hover {
    filter: brightness(125%);
    cursor: pointer;
}

#computer-result {
    display: flex;
    align-items: center;
    gap: 15px;
}

#scoreboard {
    display: flex;
    justify-content: center;
    gap: 25px;
}

#user-score-card, #computer-score-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 60px;
    border: 3px solid black;
    box-shadow: 2.5px 2.5px 2.5px;
}

#user-score-int, #cpu-score-int {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 15px;
    padding: 5px;
}